table, tr, td, th {
 border: 1px solid;
 border-collapse: collapse;
  }
td, body{
 font-family: Georgia, Times, "Times New Roman", serif;
 font-size: 11px;
 font-style: normal;
 font-variant: normal;
 line-height: 23px; 
 text-align: center;
  }
em {
 font-style: italic;
  }
strong {
 font-weight: bold;
  }
h1 {
 width: 9em;
 margin-left: auto;
 margin-right: auto;
  }
body {
 max-width:  100%; /*Trying to set max size of content*/
 max-height: 100%;
 width: 1280px;
 height: 720px;
 margin-left:auto;
 margin-right:auto;
 margin-bottom: 50%;
 margin-top: auto;
  }
table {
 margin-left: 25%;
 margin-right: 25%;
  }
.alt1 {
 background: #b8bab9;
  }
.alt2 {
 background: #e1e3e2;
  }
.pictureframe  {
 background-color: black;
 max-height: 0.282em; /*203/720*/
 max-width: 0.162em; /*207/1280*/
  }
.planetssrc  {
 max-height: .99em; /*200/203*/
 max-width: .99em; /*205/207*/
  }
