table, tr, td, th {
 border: 1px solid;
 border-collapse: collapse;
  }
td, body {
 font-family: Georgia, Times, "Times New Roman", serif;
 font-size: 11px;
 font-style: normal;
 font-variant: normal;
 line-height: 20px; 
 text-align: center;
  }
th {
 background-color: #d5a9f7; 
  }
.column1{
 border-left:solid 2px black;
 border-right: thick double purple;
 border-top: solid black 1px;
 border-bottom:dashed black 2px;
 background-color: lightyellow;
 width: 10%;
  }
#row7header {
 border-bottom:solid; 
  }
em {
 font-style: italic;
 font-size: 8px;
  }
strong {
 font-weight: bold;
 font-size: 8px;
  }
mark {
 vertical-align: super;
 background: transparent;
 font-size: 6px;
  }
h1 {
 width: 50%;
 height:5%;
 margin-left: auto;
 margin-right: auto;
  }
body {
 box-sizing: border-box;
 height: 800px;
 width: 100%;
  }
table {
 box-sizing: content-box;
 height:90%;
 width: 80%;
 margin-left:10%;
 margin-right:10%;
  }
.alt1 {
 background: #b8bab9;
  }
.alt2 {
 background: #e1e3e2;
  }
.pictureframe {
 background-color: black;
  }
.planetssrc {
 max-height: 20%;
 max-width: 25%
  }
#emptybox{
  border-bottom: hidden;
  border-top: solid 1px black;
}