table, tr, td, th {
 border: 1px solid;
 border-collapse: collapse;
  }
td, body{
 font-family: Georgia, Times, "Times New Roman", serif;
 font-size: 11px;
 font-style: normal;
 font-variant: normal;
 font-weight: 700;
 line-height: 23px; 
 text-align: center;
  }
h1 {
 width: 9em;
 margin-left: auto;
 margin-right: auto;
  }
body {
 max-width: 1280px; /*Trying to set max size of content*/
 max-height: 720px;
 margin-left:auto;
 margin-right:auto;
 margin-bottom: auto;
 margin-top: auto;
  }
.pictureframe  {
 background-color: black;
 max-height: 0.282em; /*203/720*/
 max-width: 0.162em; /*207/1280*/
  }
.planetssrc  {
 max-height: 200px;
 max-width: 205px;
  }
